<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="C:\temp\Logs\internal-nlog4txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target xsi:type="Database"
            name="database"
            dbProvider="Npgsql.NpgsqlConnection, Npgsql"
            connectionString="${configsetting:item=ConnectionStrings.PostgreSQL}"
    >
      <commandText>
        INSERT INTO public."HttpLog"
        (
            "ApplicationName",
            "LogDate",
            "LogLevel",
            "LogMessage",
            "LoggerType"
        )
        VALUES
        (
            @ApplicationName,
            @LogDate,
            @LogLevel,
            @LogMessage,
            @LoggerType
        );
      </commandText>
      <parameter name="@ApplicationName" layout="AspNetCoreNlog" />
      <parameter name="@LogDate" layout="${date}" parameterType="System.DateTime" />
      <parameter name="@LogLevel" layout="${level}" />
      <parameter name="@LogMessage" layout="${message}" />
      <parameter name="@LoggerType" layout="${logger}" />
    </target>
  </targets>
  <rules>
    <logger name="Microsoft.AspNetCore.HttpLogging.HttpLoggingMiddleware" minlevel="Information" writeTo="database" />
  </rules>
</nlog>